JWT_SECRET="your-super-secret-here"
API_PORT="your-API-port ?? 3000"
MONGO_USER="your-mongo-user"
MONGO_PASSWORD="your-mongo-password"
ENVIRONMENT="your-environment"
MONGO_HOST="your-mongo-host"
SENTRY_DSN="your-Sentry-dsn-here"
MAILTRAP_TOKEN="your-mailtrap-token-here"
INBOXID="your-inbox-Id-here"
IS_SANDBOX="true/false"